dist/

node_modules/

logs/

.env
.env.example

.git/
.gitignore
.gitlab-ci.yml

.nvmrc
.prettierrc

.dockerignore
Dockerfile

*.md

.sonarlint/
sonar_scan.sh
sonar-project.properties
.scannerwork

api-tests/
src/__tests__/
coverage/
