node_modules/

logs/

.env
.env.*

.git/
.gitignore
.gitlab-ci.yml

.nvmrc
.editorconfig

.dockerignore
Dockerfile

*.md

UNLICENSE

.sonarlint/
sonar_scan.sh
sonar-project.properties
.scannerwork

api-tests/
src/__tests__/
coverage/
