# .env.example
# CORS
HOST_URL=https://api.example.com# URL of this API
TRUSTED_ORIGINS=https://admin.example.com# To allow requests from any origin, include * (not recommended)

# Server
API_PORT=3000# Port of this API: in a container, this is the internal port -- outside of a container, this is the external port. Default is 3000

# Rate limiting
RATE_LIMIT=-1# requests per minute for each IP address. If negative or 0, "no limit". Default is -1

# Logging
LOG_LEVEL=info# error, warn, info, http, verbose, debug, silly. Default is info
MAX_LOG_FILES=7d# Maximum number of logs to keep. This can be a number of files or number of days. If using days, add 'd' as the suffix. Default is 7d
MAX_SIZE_LOG_FILES=1m# Maximum size of the file after which it will rotate. This can be a number of bytes, or units of kb, mb, and gb. If using the units, add 'k', 'm', or 'g' as the suffix. The units need to directly follow the number. Default is null
